*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
.a{
    height: 900px;
    width: 800px;
    background-color: lavender;
    margin-left: 400px;
}
.a1{
    height: 900px;
    width: 200px;
    float: left;
    background-color: rgb(10, 36, 71);
    /* padding: 20px; */
    position: relative;
    top: 0px;
    left: 0px;
}
.a2{
    height: 900px;
    width: 600px;
    float: right;
    background-color: rgb(234, 177, 32);
    /* padding: 20px; */
}
.b{
    height: 100px;
    width: 616px;
    background-color: black;
    position: absolute;
    top: 70px;
    left: 184px;
}
.a12{
    height: 200px;
    width: 150px;
    border: 10px solid white;
    /* padding: 5px; */
    /*background-image: url("../Images/me.jpg");*/
    background-repeat: no-repeat;
    background-size: 100%;
    /* margin-left: 60px; */
    position: absolute;
    top: 10px;
    left: 15px;
}
h2{
    text-transform: uppercase;
    font-family: serif;
    font-weight: bold;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    margin: 30px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.c{
    position: relative;
    top: 230px;
    left: 10px;
    /* background-color: aliceblue; */
    text-align: left;
}
i{
    margin-right: 10px;
    background-color: rgb(234, 177, 32);
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 2px;
    align-items: center;
    /* text-align: right; */
}
p{
    display: inline;
    color: white;
    font-size: small;
}
h3{
    text-transform: uppercase;
    color: white;
    position: relative;
    top: 250px;
    left: 10px;
}
hr{
    color:rgb(234, 177, 32);
    border: 2px solid rgb(234, 177, 32);
    position: relative;
    width: 180px;
    top: 255px;
    left: 15px;
}
p.d1{
    position: relative;
    top: 260px;
    left: 10px;
    text-transform: capitalize;
    line-height: 40px;
    font-size: 15px;
}
.e{
    position: relative;
    top: 20px;
    left: 0px;
    line-height: 25px;
    /* background-color: aliceblue; */
    text-align: left;
}
.f1{
    text-transform: uppercase;
    color: black;
    position: relative;
    top: 200px;
    left: 10px;
    line-height: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.f2{
    color: rgb(234, 177, 32);
    border: 2px solid white;
    position: relative;
    width: 600px;
    top: 200px;
    left: 15px;
}
h4{
    position: relative;
    top: 220px;
    left: 10px;
    text-align: left;
    text-transform: capitalize;
}
.h{
    color: black;
    position: relative;
    top: 220px;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 40px;
}
.f3{
    text-transform: uppercase;
    color: black;
    position: relative;
    top: 240px;
    left: 10px;
}
.f4{
    color: rgb(234, 177, 32);
    border: 2px solid white;
    position: relative;
    width: 600px;
    top: 250px;
    left: 15px;
}
.f5{
    color: rgb(234, 177, 32);
    border: 2px solid white;
    position: relative;
    width: 600px;
    top: 280px;
    left: 15px;
}
.h1{
    color: black;
    position: relative;
    top: 250px;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 30px;
}
h4.aa{
    position: relative;
    top: 280px;
    left: 10px;
    text-align: left;
    text-transform: capitalize;
    font-size: 25px;
}
h3.g{
    text-transform: uppercase;
    color: black;
    position: relative;
    top: 315px;
    left:15px;
}
.f{
    display: inline;
    color: black;
    font-size: large;
    word-spacing: 5px;
    position: relative;
    top: 320px;
    left: 15px;
}
h5.he{
    display: block;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 15px;
    position: relative;
    top: 318px;
    left: 15px;
}
